.jumbotron {
	border-radius: 0px 132px 0px 140px;
-moz-border-radius: 0px 132px 0px 140px;
-webkit-border-radius: 0px 132px 0px 140px;
border: 8px solid #000000;

	background-color: #9d79bd;
	color: #fff;
}
body {
	font-family: "georgia", "times";
	color: #9d79bd;
}
table {
	color: #9d79bd;
}
